ul li {
    list-style: disc;
    list-style-position: inside;
}

ol li {
    list-style: decimal;
    list-style-position: inside;
}

ol li *,
ul li * {
    display: inline !important;
}

.leaflet-layer.dark,
.leaflet-control-zoom-in.dark,
.leaflet-control-zoom-out.dark,
.leaflet-control-attribution.dark,
.leaflet-control.leaflet-ruler.dark,
.right-control-group.leaflet-control.dark {
    filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%) !important;
}

div.leaflet-bar.easy-button-container.leaflet-control {
    background-color: red;
    /* Warna background dark */
}

.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution,
.leaflet-control.leaflet-ruler {
    transition: all 0.3s;
}

/* Style untuk popup Leaflet */
.leaflet-popup.dark .leaflet-popup-content-wrapper{
    background-color: #1f2937;
    /* Warna background dark */
    color: white;
}

.leaflet-popup.dark .leaflet-popup-tip {
    background-color: #1f2937;
    /* Warna tip/arrow dark */
}

/* Optional: Style untuk link dalam popup */
.leaflet-popup.dark .leaflet-popup-content a {
    color: #60a5fa;
    /* Warna link saat dark mode */
}

/* Optional: Hover state untuk close button */
.leaflet-popup.dark .leaflet-popup-close-button {
    color: white;
}

.leaflet-popup.dark .leaflet-popup-close-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Atur container control */
.leaflet-control-container .leaflet-top.leaflet-left {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    margin-left: 12px
}

.left-control-group {
    display: flex;
    flex-direction: column;
}
.right-control-group {
    display: flex;
    gap: 4px;
}
/* Hapus margin default */
.leaflet-left .leaflet-control {
    margin-left: 0;
    clear: none !important;
}

.leaflet-bar.leaflet-ruler {
    width: 100%;
}

