@tailwind base;
@tailwind components;
@tailwind utilities;

.font-inter {
    font-family: "Inter", sans-serif;
}

.hamburger-active>span:nth-child(1) {
    @apply origin-top-left rotate-45;
}

.hamburger-active>span:nth-child(2) {
    @apply scale-0;
}

.hamburger-active>span:nth-child(3) {
    @apply origin-bottom-left -rotate-45;
}

.navbar-fixed {
    @apply fixed z-[9999] bg-white bg-opacity-70 backdrop-blur-sm text-slate-900;
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

/* Styles for non-scrolled state */
header:not(.navbar-fixed) a.group:hover {
    @apply text-slate-900;
}

header:not(.navbar-fixed) .group:hover hr {
    @apply border-slate-900;
}

.shadow-full-blue {
    box-shadow: -12px 12px 0 #0284c7;
}

.finfinder {
    font-size: min(30px, 7vw);
}

.desk {
    font-size: min(60px, 8vw);
}

.active {
    @apply bg-slate-300;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 32px;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 5px;
    background-color: #000;
    transform: translateX(-50%);
}

@media screen and (max-width: 768px) {
    .img-bullet {
        left: 10px
    }
}
